:root {
  --vt-c-white-mute: #f2f2f2;
  --vt-c-black-mute: #2f2f2f;
  --color-purple: #3c1952;
  --color-purple-light: #4a4152;
  --color-purple-dark: #433450;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-black-mute);
  --color-text: var(--vt-c-white-mute);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.42;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  padding: 0;
  margin: 0;
}